@import url('https://fonts.googleapis.com/css2?family=Geo&family=Space+Mono:wght@400;700&display=swap');
:root {
	--perrywinkle: #9198e5;
	--perrywinkle-trans: #9198e5f1;
	--majestic-eggplant: #4c3c86;
	--love-dust: #e495e1;
	--love-dust-trans: #e495e138;
	--nile: #b2c47c;
}

html,
body {
	min-height: 100vh;
	margin: 0 auto;

	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace, sans-serif, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background-color: var(--majestic-eggplant);

	color: rgb(255, 255, 248);
}

button,
input {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: inherit;
	font-size: 100%;
}
button {
	box-shadow: none;
	border: none;
}
button:hover {
	cursor: pointer;
}
h1 {
	font-family: 'Geo', sans-serif;
	font-size: 3.6rem;
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

a {
	text-decoration: none;
}
a:any-link {
	color: snow;
}
a:hover {
	color: var(--nile);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header {
	margin: 2.8rem 20% 0rem 20%;
	padding: 0.6rem;
	text-align: center;

	border: 2px solid var(--perrywinkle);
	border-bottom: none;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}
header p {
	font-family: 'Geo', sans-serif;
	font-size: 2rem;
	color: var(--nile);
}

dialog {
	padding: 2rem 4rem;

	border: 3px solid white;
	border-radius: 2rem;
	background: radial-gradient(white, var(--perrywinkle-trans));
}
form {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 2rem 2.4rem;

	border-radius: 1.4rem;
	background: white;
}
.form-heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	color: var(--majestic-eggplant);
}
form input {
	grid-column: 2 / 3;
	padding: 0.6rem 0.8rem;
}
form label {
	grid-column: 1 / 2;
}
.page-numb {
	max-width: 8ch;
}
.page-numb,
.read {
	margin-left: auto;
}
.submit {
	grid-column: 2 / 3;
	background: var(--perrywinkle);
	color: white;
}
.cancel,
.card button {
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--love-dust);
	background: var(--love-dust);
	border-radius: 100%;
	font-size: 12px;
	font-weight: 700;
	color: white;
}
.cancel:hover,
.card button:hover,
.submit:hover {
	border-color: var(--majestic-eggplant);
	background-color: var(--majestic-eggplant);
}
.add,
.submit {
	padding: 0.4rem 1rem;
}
.add {
	border-top-right-radius: 0.6rem;
	background: var(--nile);
	color: var(--majestic-eggplant);
	border: 2px solid var(--perrywinkle);
	border-bottom: 1px solid var(--perrywinkle);
}
.add:hover {
	background: var(--majestic-eggplant);
	color: white;
}
.shelf-heading {
	display: flex;
	justify-content: space-between;
	margin-left: 4rem;
	margin-right: 4rem;
	padding-left: 1rem;

	background: var(--perrywinkle);
	border-top-left-radius: 0.6rem;
	border-top-right-radius: 0.6rem;
}

.shelf {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;

	margin: 0rem 4rem 1rem 4rem;
	padding: 1rem 1.4rem;
	justify-content: center;

	border: 3px solid var(--perrywinkle);
	border-top: none;
	border-bottom-left-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
}
.card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr auto;
	grid-template-rows: 1fr auto auto;
	padding: 1rem 1.6rem;
	max-width: 300px;
	gap: 0.4rem;

	border: 2px solid var(--nile);
	border-radius: 0.2rem;
	background: var(--love-dust-trans);
}
.title-div {
	grid-column: 1 / 5;
	align-self: center;
}
.card button {
	grid-column: 5 / 6;
	width: 1.4rem;
	height: 1.4rem;
	justify-self: end;

	border: 2px solid var(--love-dust);
	border-radius: 100%;
	font-size: 12px;
	font-weight: 700;
	color: white;
}
.card h3 {
	text-align: center;
}
.by {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding-left: 1rem;
}
.author-name {
	grid-column: 2 / 6;
	grid-row: 2 / 3;
	color: var(--nile);
}
.pages {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

.read-div {
	display: flex;
	justify-content: space-around;

	grid-column: 3 / 6;
	grid-row: 3 / 4;
}
.read-div input {
	justify-self: end;
}
.invalid-input {
	color: var(--love-dust);
}

/* form validation: */

/* This is our style for the invalid fields */
input:invalid {
	border-color: #900;
	background-color: #fdd;
}

input:focus:invalid {
	outline: none;
}

/* This is the style of our error messages */
.error {
	width: 100%;
	padding: 0;

	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;

	box-sizing: border-box;
}

.error.active {
	padding: 0.3em;
}
